altgraph
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
black
bleach
blinker
cffi
click
colorama
cx-Freeze
cx-Logging
cycler
debugpy
decorator
defusedxml
entrypoints
executing
Flask
fonttools
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lief
MarkupSafe
matplotlib
matplotlib-inline
missingno
mistune
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
opencv-python
packaging
pandas
pandocfilters
parso
pathspec
pefile
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
pure-eval
pycparser
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyMySQL
pyparsing
pyrsistent
pystackreg
python-dateutil
pytz
pyzmq
qtconsole
QtPy
scikit-learn
scipy
seaborn
Send2Trash
six
stack-data
terminado
testpath
threadpoolctl
tomli
tornado
tqdm
traitlets
typing_extensions
wcwidth
webencodings
Werkzeug
widgetsnbextension
zipp
